{% extends 'generic/bulk_delete.html' %}

{% block title %}Suppression en Masse - Prises Réseau{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb-item">
        <a href="{% url 'plugins:plugsbox:plug_list' %}">Prises Réseau</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p>Êtes-vous sûr de vouloir supprimer ces <strong>{{ table.rows|length }}</strong> prise(s) réseau ?</p>
                    <p class="text-warning">
                        <i class="mdi mdi-alert" aria-hidden="true"></i>
                        Cette action est irréversible.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    {{ block.super }}
{% endblock %}